@import "./variables.module.scss";

.container {
    background: rgb(243, 238, 238);
    width: 100%;
    height: 100vh;
    
    &__header {
        overflow: hidden;
        background-color: $bgColor;
        width: 100%;
        display: flex;
    }
    
    
    &__content {
        display: flex;
    }
}

.content_wrapper {
    display: block;
}